{{!-- <form action="/login" method="POST" id="form" class="formLogin">
  <h1>Login</h1>
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <button>Sign in</button>
  <div>
    <a href="/auth/google">Login With Google</a>
  </div>
  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form> --}}

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
<form action="/login" method="POST" id="form" class="formLogin">
  <h1>Login</h1>
  <label for="username">Username</label>
  <input type="text" name="username">
  <label for="password">Password</label>
  <input type="password" name="password">
  {{#if message }}
  <div class="error-message">{{ message }}</div>
  {{/if}}
  <button>Sign in</button>
  <div>
    <a href="/auth/google">Login With Google</a>
  </div>
  <p class="account-message">
    Don't have an account? <a href="/signup">Sign up</a>
  </p>
</form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>