
<div class="spaces">
  <h1>Rent a space</h1>
  {{#each rentedPlaces}}
  <div class="flex-wrap d-flex justify-content-center">
    <div class="card col-md-3 mt-4 mx-5 mb-4">
      <img src="{{imgPath}}" height="170" alt="">
      <div class="card-body flex-column d-flex align-items-center">
        <h5 class="card-title">{{name}}</h5>
        <p class="card-text">{{description}}</p>
        <p class="card-text">{{price}}</p>

      </div>
    </div>


  </div>
  {{/each}}
</div>