<b>
<form action="/offer" method="POST" enctype="multipart/form-data" class="formOffer">
<h1>Register a place</h1>
<br>
  <div class="form-group">
    <label for="placeName">Name</label>
    <input name="name" type="name" class="form-control" id="placeName" placeholder="my space">
  </div>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea name="description" class="form-control" id="placeDescription" rows="2"></textarea>
  </div>
  <div class="form-group">
    <label for="placeCapacity">Capacity</label>
    <select name="capacity" class="form-control" id="placeCapacity">
      <option value="0.5">0.5m³</option>
      <option value="1">1m³</option>
      <option selected value="1.5">1.5m³</option>
      <option value="2">2m³</option>
    </select>
  </div>
   <div class="form-group">
     {{!-- ADDRESS >> main.js EventListener busca neste id="inputAddress" e retorna o lat/long populando respectivos campos neste formulário --}}
    <label for="placeAddress">Address</label>
    <input name="address" type="text" class="form-control" id="placeAddress" placeholder="Rua, Avenida, Alameda">
    <br>
    <input type="text" name="latitude" id="placeLatitude" placeholder="latitude">
    <input type="text" name="longitude" id="placeLongitude" placeholder="longitude">
  </div>
  <div class="form-group">
    <label for="placeNeighborhood">Neighborhood</label>
    <input name="neighborhood" type="text" class="form-control" id="placeNeighborhood" placeholder="Jardim Paulista, Jardins">
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="placeCity">City</label>
      <input type="text" class="form-control" id="placeCity">
    </div>
    <div class="form-group col-md-4">
      <label for="placeState">State</label>
      <select id="placeState" class="form-control">
        <option selected>Choose...</option>
        <option>SP</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="placeZIP">CEP</label>
      <input type="text" class="form-control" id="placeZIP">
    </div>
  </div>
  <div class="form-group">
    <label for="placePrice">Price</label>
    <input name="price" type="price" class="form-control" id="placePrice" placeholder="50, 100, 150...">
  </div>
  <div class="form-check">
  <input name="available" class="form-check-input" type="radio" name="exampleRadios" id="placeAvailability1" value="true" checked>
  <label class="form-check-label" for="placeAvailability1">
    Available
  </label>
</div>
<div class="form-check">
  <input name="available" class="form-check-input" type="radio" name="exampleRadios" id="placeAvailability2" value="false">
  <label class="form-check-label" for="placeAvailability2">
   Unavailable 
  </label>
</div>
<br>
  <div class="form-group">
    <label for="exampleFormControlFile1">Photo</label>
    <input name="photo" type="file" class="form-control-file" id="exampleFormControlFile1" required>
  </div>
  <br>
  <div class="col-auto my-1">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
</b>
