<div class="profile">
<h1>Hi, {{user.username}}!</h1>


<div class="profile__content">
  <a href="/myPlaces"> <img src="/images/home.png" alt="rent icon">My spaces</a>

 {{!--  aqui tem que ter o delete e o edit --}}
</div>
<div class="profile__content">
  <a href="/offer"> <img src="/images/storage.png" alt="garage">Offer a space </a>
</div>

<div class="profile__content">
  <a href="/rent"> <img src="/images/rent.png" alt="rent icon">Rent a space </a>
</div>


</div>