<div class="h1">
  <p> Hi, {{loggedIn.username}}!</p>
</div>
<div class="profile">
  <div class="profile__content">
    <a href="/myspaces"> <img src="/images/home.png" alt="rent icon">My spaces</a>
  </div>
  <div class="profile__content">
    <a href="/myrentals"> <img src="/images/rentals.png" alt="rent icon">My rentals </a>
  </div>
</div>