<div class="h1 mb-5">
  <p> Hi, {{loggedIn.username}}!</p>
</div>

<div class="conteiner cardProfile d-flex justify-content-center align-items-center">
  <div class="row w-100 mt-5 d-md-flex justify-content-around">
    <div class="col-md-6 col-sm-12">
      <div class="card-profile d-flex align-items-center justify-content-center mb-5">
        <img src="/images/home.png" class="card-img  mr-3">
        <a href="/myspaces"><h1 class="card-text">My Spaces</h1></a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <div class="card-profile d-flex align-items-center justify-content-center">
        <img src="/images/rent.png" class="card-img mr-3">
       <a href="/myrentals"><h1 class="card-text">My Rentals</h1></a>
      </div>
    </div>
  </div>
</div>