<form id="form" action="/signup" method="POST" class="formLogin">
  <label for="username">Username</label><br>
  <input class="formLogin" type="text" name="username">
  <label for="email">Email</label><br>
  <input type="email" name="email" placeholder="Your Email">
  <label for="password">Password</label><br>
  <input type="password" name="password" placeholder="Your password">
  <br>
  {{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
  {{/if}}
  <button type="submit">Create account</button>
</form>