<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>IRON STORAGE</title>

  {{!-- Axios --}}
  <script src="https://unpkg.com/axios/dist/axios.min.js" defer></script>
  {{!-- GOOGLE MAPS --}}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNG54dcbN8aXu2odZa7BC0Hyq0EGX6hh4" defer> </script>
  {{!-- MAIN DOM Manipulations --}}
  <script type="text/javascript" src="/javascripts/main.js" defer></script>
  {{!-- BOOTSTRAP --}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  {{!--  CSS --}}
  <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>

<header>
  <nav class="navbar px-3 navbar-expand-lg navbar-light border-bottom">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" width="235" height="66" class="d-inline-block align-top" alt="brand"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">

        {{#if loggedIn}}
        <li class="nav-item active">
          <a class="nav-link" href="/offer">Offer a space<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/myrentals">Rent a space <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
        {{/if}}
        {{#unless loggedIn}}
        <li class="nav-item active">
          <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/signup">Sign up</a>
        </li>
        {{/unless}}
      </ul>
    </div>
  </nav>
</header>

<body>

  {{{body}}}

<footer class="footer">
  <div class="footer__text">
    <p>® Iron Storage Ltda.</p>
    <p>Alameda Jaú, 1301 - São Paulo - SP</p>
    <p>01420-001</p>
  </div>

  <div class="footer__icons">
    <img src="/images/whats.png" alt="whatsapp icon" width="38" height="37">
    <img src="/images/instagram.png" alt="instagram icon">
    <img src="/images/facebook.png" alt="facebook icon">
  </div>

</footer>
</body>


</html>