
* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  padding-bottom: 50px;
  min-height: 100vh;
  height: 100%;
}


.navbar-nav a { 
  font-size: 1.5em;
}


.about {
  padding-top: 2%;
  text-align: center;
  margin-bottom: 5%;
}
.about h1 {
  color: rgb(4, 37, 119);
}
.about h3 {
  color: #EB5F33;
}

hr {
  width: 28%;
  height: 4px;
  color: #012FA2;
  background-color: #EB5F33;
  border: none;
  margin-left: 36%;
}

.footer {
  height: 10%;
  width: 100%;
  background-color: #EB5F33;
  color: white;
  line-height: 0.3em;
  position: fixed;
  bottom: 0;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;  
  display: flex;
  justify-content: space-between;
  padding: 1.5%;
  padding-bottom: 0.4%;
}

.footer__icons img:not(:first-child) {
  margin: 2px;
}

.footer_text {
  padding-top: 2px;
}


a {
  color: #EB5F33;
}

#form {
  margin: 6% auto 12% auto;
  width: 370px;
  font-size: 1.5em;
}

#form label {
  color: #EB5F33;
  display: inline-block;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

#form input,
#form button {
  box-sizing: border-box;
  font-size: 14px;
  outline: 0;
  padding: 8px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 1px;
}

#form button {
  background: rgb(4, 37, 119);;
  border: 1px solid #012FA2;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.7em;
  padding: 8px 16px;
  text-decoration: none;
  text-transform: uppercase;
  transition: .3s ease background;
  width: 100%;
}

#form button:hover {
  background: #fff;
  color: #012FA2 ;
  transition: .3s ease background;
}

#form h1 {
  text-align: center;
  font-size: 1.8em;
}


.error-message {
  background: #F02B63;
  box-sizing: border-box;
  color: #fff;
  margin: 10px auto;
  padding: 5px;
  width: 100%;
  font-size: 0.7em;
  text-align: center;
}

#map {
  width: 100%;
  height: 400px;
}

.formOffer {
  margin: 3% 9% 6% 9%;
  padding-bottom: 15px;
}

.formOffer h1 {
  color:#EB5F33

}
.btn {
  background-color: #012FA2;
  margin-left: -1.6%;
  border-color: #012FA2;
  width: auto;
  color:white;
}

.btn:hover {
  background: #fff;
  color: #012FA2 ;
  transition: .3s ease background;
}
.profile {
  display: flex;
  margin: 4% auto 15% auto;
}

.h1 {
text-indent: 14.8%;
font-size: 53px;
margin-top: 4%;
color:#EB5F33;
}

.card-text {
  color: #012FA2;
  text-decoration: none;
}

.card-profile a {
  text-decoration: none;
}

.card-text:hover {
  color: #EB5F33 ;
  transition: .3s ease background;
}

.card-img {
  width: 120px;
  height: auto;
}
.spaces {
  margin: 3% 7% 6% 7%;
  margin-bottom: 12%;
}
.spaces h1 {
  color:#EB5F33;
}

.rent {
  font-size: 1.5em;
  text-align: center;
}
#map {
  width: 100%;
  height: 400px;
  margin-bottom: 40px;
  margin-top: -30px;
} 

.cardProfile h1 {
  font-size: 43px;
  text-align: center;
 
}

.about_pic {
  margin-top: 20px;
  height: auto;
}

.search_address{
  width: 46%;
}

.search_distance {
  width: 15%;
}


#available-places {
  color: rgb(4, 37, 119);
}

.find {
  background-color: rgb(4, 37, 119);
  border-color: rgb(4, 37, 119);
}

@media (min-width: 870px) {
  .search_distance {
    width: 15%;
  }
  .search_address {
    width: 40%;
  }
  .about h1 {
    font-size: 68px;
  }
  .about h3 {
    font-size: 43px;
  }
}

@media (max-width: 869px) {
  .search_distance {
    width: 45%;
  }
  .search_address {
    width: 80%;
  }
}

