* {
  margin: 0;
  padding: 0;
}

.body {
  font-size: 16px;
}

.navbar-nav a{ 
  font-size: 22px;
}

#navbarNav {
  margin-left: 73%; /* ARRUMAR ESSA MARGIN PARA LOGIN E SINGUP NÃO FICAR DO LADO DIREITO QUANDO RESPONSIVO...flex end? */
}

.about {
  padding-top: 3%;
  text-align: center;
}
.about h1 {
 font-size: 5.2em;
 color: rgb(4, 37, 119);
}
.about h3 {
  font-size: 2.8em;
  color: #012FA2;
}

.footer {
  padding-top: 1.5%;
  height: 15%;
  width: 100%;
  background-color: #012FA2;
  color: white;
  line-height: 0.2em;
  text-indent: 1.1em;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}




/* azul logo: #012FA2 */